
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Hakkımızda</h2>

<h5>Kullandığım görsel linkleri:</h5>
<p>
    https://cdn11.bigcommerce.com/s-1u1m3wn/images/stencil/960w/products/3649/12182/Abbotsford-light-fabric-large-corner-lounge-in-beige-linen-colour-lifestyle__24234.1627988716.jpg?c=2
    <br />
    https://cdn11.bigcommerce.com/s-1u1m3wn/images/stencil/960w/products/3547/10868/Adelaide-with-Vibe-chairs-7-pce-2100-contour-angle__09341.1627991657.jpg?c=2
    <br />
    https://cdn11.bigcommerce.com/s-1u1m3wn/images/stencil/960w/products/4031/16875/Alfie-charcoal-upholstered-bed-with-tufted-bed-head-lifestyle-front-on__47042.1668748632.jpg?c=2
    <br />
    https://www.potterybarn.com.au/site/PB/Product%20Images/westport-storage-round-coffee-table-202305-1135-westport-all-weather-wicker-round-storage-coffee-table-2-z.jpg?resizeid=78&resizeh=960&resizew=960
    <br />
    https://www.harveynorman.com.au/media/wysiwyg/buying-guides/furniture-outdoor-bbqs/home-office-furniture/home-office-furniture-lead-b.jpg
    <br />
    https://cdn11.bigcommerce.com/s-1u1m3wn/images/stencil/960w/products/3383/9270/Abbie-2-seat-leather-sofa-in-light-grey-colour-with-tufted-back-cushion-lifestyle-02__35942.1627981433.jpg?c=2
    <br />
    https://cdn11.bigcommerce.com/s-1u1m3wn/images/stencil/960w/products/3382/9269/Abbie-3-seat-sofa-in-light-grey-colour-leather-with-tufted-back-cushion-lifestyle-hero__70072.1627981454.jpg?c=2
    <br />
    https://cdn11.bigcommerce.com/s-1u1m3wn/images/stencil/960w/products/4421/21584/Alba-premium-black-leather-small-chaise-lounge-lifestyle-front-on__26343.1702949581.jpg?c=2
    <br />
    https://cdn11.bigcommerce.com/s-1u1m3wn/images/stencil/960w/products/3332/8798/01-Avery-contemporary-messmate-hardwood-bedroom-suite__55602.1650588621.jpg?c=2
    <br />
    https://cdn11.bigcommerce.com/s-1u1m3wn/images/stencil/960w/products/4360/20960/Ballina-white-country-chic-hamptons-style-bedroom-suite-lifestyle-angle__22235.1696978038.jpg?c=2
    <br />
    https://cdn11.bigcommerce.com/s-1u1m3wn/images/stencil/960w/products/4176/18618/banksia-australian-messmate-timber-bedroom-suite-with-fluted-timber-proifle-accents-lifestyle-front-on__56758.1680502458.jpg?c=2
    <br />
    https://cdn11.bigcommerce.com/s-1u1m3wn/images/stencil/960w/products/3541/10699/Adelaide-dining-table-2100-angle-02__88827.1627991697.jpg?c=2
    <br />
    https://cdn11.bigcommerce.com/s-1u1m3wn/images/stencil/960w/products/4100/17572/Alder-charcoal-fabric-dining-chair-with-tapered-round-black-metal-legs-angle__59127.1675385636.jpg?c=2
    <br />
    https://cdn11.bigcommerce.com/s-1u1m3wn/images/stencil/960w/products/2929/5621/archie-messmate-dining-suite-with-live-edge-penfold-chairs-lifestyle-9-pce-02__20666.1681696612.jpg?c=2
    <br />
    https://www.potterybarn.com.au/site/PB/Product%20Images/hampton-aww-2-piece-loveseat-chaise-sectional-natural-202232-0064-shop-the-complete-hampton-all-weather-wicker-collection-z.jpg?resizeid=80&resizeh=1920&resizew=1920
    <br />
    https://3572911.app.netsuite.com/core/media/media.nl?id=113057206&c=3572911&h=rDGmwWZi8DtPEjLiap2KyiY16RfUYFUGmrDxSQsYbO_mg5k1
    <br />
    https://3572911.app.netsuite.com/core/media/media.nl?id=108450133&c=3572911&h=UeDyNNt01Drch4J0wRv-2Q_ql4-7IbCZ1eu8BLsEelfWQnTQ
    <br />
    https://img.ofo.co.uk/media/img/shop/pd/051617.jpg
    <br />
    https://img.ofo.co.uk/media/img/shop/pd/073236.jpg
    <br />
    https://img.ofo.co.uk/media/img/shop/pd/109175.jpg
</p>

